# Application
NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/drone_fleet"

# Frontend
CLIENT_URL=http://localhost:3000

# Authentication (Future)
JWT_SECRET=your-super-secret-key
JWT_EXPIRES_IN=7d

# Logging
LOG_LEVEL=info